@tailwind base;
@tailwind components;
@tailwind utilities;
/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    "./src/**/*.{js,jsx,ts,tsx}",  // React project ke liye
  ],
  theme: {
    extend: {},
  },
  plugins: [],
}
